#botaoCadastrar {
    height: 20px;
    width: 50px;
    background-color: purple;

    :disabled  {
        background-color: salmon;
    }
}

#aviso_email, #aviso_telefone, #botaoCancelar {
    display: none;
}