<h2 id="titulo">Cadastro de membro</h2>
<div [formGroup]="form">
    Nome: <input type="string" id="nome" formControlName="nome"><br>
    Email: <input type="email" id="email" formControlName="email" (blur)="validaInput('email')"><br>
    Telefone: <input type="string" id="telefone" formControlName="telefone" (keyup)="mascara()" (blur)="validaInput('telefone')"><br>
    Status:
        <input type="radio" id="ativo" name="status" [value]="true" formControlName="status" [checked]="isAtivo">
        <label for="ativo">ativo</label>
        <input type="radio" id="inativo" name="status" [value]="false" formControlName="status" [checked]="isInativo">
        <label for="inativo">inativo</label><br>
    <button [disabled]="form.invalid" id="botaoCadastrar" (click)="acao()">Cadastrar</button>
    <button id="botaoCancelar" (click)="cancelar()">Cancelar</button>
    <p>IMPORTANTE: Todos os campos são obrigatórios!</p>
    <p id="aviso_email">Insira um email válido!</p>
    <p id="aviso_telefone">Insira um telefone válido!</p>
</div>


<div *ngFor="let cliente of clientes">
    <span>{{ cliente.nome }}</span>
    <span>{{ cliente.email }}</span>
    <span>{{ cliente.telefone }}</span>
    <span>{{ cliente.status }}</span>
    <button (click)="editar(cliente)">Editar</button>
    <button (click)="excluir(cliente)">Excluir</button>
</div>
